.App {
  width: 100vw;
  text-align: center;
  min-height: 100vh;
  background-image: url('./F1Fbackground.jpeg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 79)
}


.landing-text-container{
  margin-top: 10%;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  background-color: white;
}

.landing-info-text{
  margin-bottom: -5%;
  font-size: 250%;
  background-color: white;
  height: 20vh;
  padding-top: 5vh;
}

.landing-info-subheading{
  width: 40vw;
  font-style: italic;
  font-size: 80%;
  text-align: right;
  margin-top: -5vh;
}

#app-title-span{
  font-style: oblique;
}

@media only screen and (max-width: 700px) {
  .landing-text-container{
    display: grid;
    height: 30vh;
    margin-bottom: 5%;
  }
  
  .landing-info-text{
    margin-bottom: -5%;
    font-size: 150%;
    height: 10vh;
  }
  
  .landing-info-subheading{
    background-color: white;
    font-style: italic;
    font-size: 80%;
    text-align: right;
    width: 100%;
  }
  
  #app-title-span{
    font-style: oblique;
  }
}

#home-buttons-container{
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  border: 5px white solid;
  padding: 5px;
  margin-top: 3%;
}

.data-buttons{
  color: white;
}

.data-buttons-bl{
  color: black;
}

@media only screen and (max-width: 960px) {
  #home-buttons-container{
    display: flex;
    width: 80vw;
    border: 5px white solid;
    padding: 5px;
  }

  .data-buttons{
    font-size: 80%;
    line-height: 80%;
    line-break:loose;
    color: white;
  }

  .data-buttons-bl{
    color: black;
    font-size: 80%;
    line-height: 80%;
    line-break:loose;
  }
  
}

#stats-display-area{
  background-color: #282c34;
  color: white;
  margin-top: 5%;
  padding-left: 10%;
  width: 70%;
  display:flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.button-align-right{
  display: flex;
  justify-content: right;
  width: 45vw;
  margin-top: 5%;
}

@media only screen and (max-width: 700px) {
  #stats-display-area{
    background-color: #282c34;
    color: white;
    margin-top: 5%;
    padding-left: 10%;
    width: 80%;
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  
  .button-align-right{
    display: flex;
    justify-content: right;
    width: 75vw;
    margin-top: 5%;
  }

  .close-data-button{
    width: 15vw;
  }

}

.button-align-left{
  display: flex;
  justify-content: left;
  width: 45vw;
  margin-top: 5%;
}

.generate-chart{
  font-size: 80%;
  line-height: 80%;
  line-break:loose;
  color:white;
}

.data-dive-buttons{
  border: 5px solid white;
  display: flex;
  justify-content: flex-end;
  width: 60vw;
}

.dataset-button-container{
  width: 18vw;
  padding: 2%;

}

.dataset-awesome-button{
  width: 100%;
}


 .chart-container{
  width: 85%;
  height: 100%;
  margin-left: -10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-chart{
  width: 70vw;
  height: 80vh;
  display: flex;
}

.exit-chart-button{
  display:flex;
  justify-content: right;
  width: 110%;
}

.pole-pos-graph{
  background-color: purple;
} 

